body {
  background: rgb(2, 0, 36);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(100vh - 70vh);
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
  background-color: #ffffff;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  padding: 20px;
}

.button-container {
  padding: 20px;
}

input {
  border-color: rgb(2, 0, 36) !important;
}

fieldset {
  border-color: rgb(2, 0, 36) !important;
}

span {
  color: rgb(2, 0, 36) !important;
}

.input-styles {
  padding: 10px 20px !important;
}

.left-side {
  display: flex;
}

@media screen and (max-width: 600px) {

  .left-side {
    display: none !important;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(100vh - 70vh);
  }

  .inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 30px 15px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    background-color: #ffffff;
  }
}